@()(implicit flash: Flash)

@main(None) {
        
    <div class="alert-message block-message info">
    	<div align="center"> <img src="@routes.Assets.at("images/ece.png")" width="380" height="85" /> </div>
        <p>
            The system should allow a user to:
        </p>
        <p>
            - Enter the chat room with his/her name
        </p>
        <p>
            - See other users’ chat messages
        </p>
        <p>
            - Post a chat message
        </p>
        <p>
            - Leave the chat room
        </p>
    </div>
    
}